.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center_norm {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center_norm_rounded {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-radius:15px 15px;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}